:root {
  --primary-color: #407bff;
  --accent-color: #ea863e;

  --white-color: #f2f2f2;

  --black-color: #000000;
  --black-color-light-1: #333333;
  --black-color-light-2: #555555;
  --black-color-light-3: #777777;
}
